.boton{
    width:130px;
    height:130px;
    background-color:#00910a;
    margin-left: 40%;
    margin-right: 50%;
    padding:12px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    font-size: 21px;
    line-height:105px;
    text-transform: uppercase;
    float:left;
  }
  .boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton a{
    color:rgb(240, 15, 15);
    text-decoration:none;
    padding:5px 5px 5px 0;

  }

  #fondo {
	background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(img/fondo.jpg);
	padding: 214px;
	/*text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    filter:brightness(0.4); */
}

#footer {
    height: 78px;
    background-color: #1314139a;
    }

    .parpadea {

        color: rgb(255, 255, 255);
        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      
        -webkit-animation-name:parpadeo;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }
      
      @-moz-keyframes parpadeo{  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @-webkit-keyframes parpadeo {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
         100% { opacity: 1.0; }
      }
      
      @keyframes parpadeo {  
        0% { opacity: 1.0; }
         50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }